#content {
	text-align: center;
	padding-top: 17.5%;
}

body {
	background: url(https://cdn.pixabay.com/photo/2015/07/11/22/57/san-francisco-841408_1280.jpg);
	background-size: cover;
	background-position: center;
}

#content h1, #content h3 {
	color: white;
	font-weight: 700;
	font-size: 5em;
}

html {
	height: 100%;
}
 
